# Run Travis CI for R using https://eddelbuettel.github.io/r-travis/

language: c
sudo: required
dist: trusty
group: edge

before_install:
  - curl -OLs https://eddelbuettel.github.io/r-travis/run.sh && chmod 0755 run.sh
  # add our launchpad repo which has (inter alia) r-cran-rcppcctz
  - sudo add-apt-repository -y ppa:edd/r-3.5
  - ./run.sh bootstrap

install:
  - ./run.sh install_aptget r-cran-rcppcctz r-cran-bit64 r-cran-zoo r-cran-data.table r-cran-xts r-cran-tinytest

script:
  - ./run.sh run_tests

after_failure:
  - ./run.sh dump_logs

after_success:
  - ./run.sh coverage
   
notifications:
  email:
    on_success: change
    on_failure: change

