import("methods")
import("bit64")
importFrom("RcppCCTZ", "parseDouble", "formatDouble")
importFrom("zoo", "index2char")
importFrom("utils", "head")

S3method(as.Date,nanotime)
S3method(as.POSIXct,nanotime)
S3method(as.POSIXlt,nanotime)
S3method(as.data.frame,nanotime)
S3method(as.integer64,nanotime)
S3method(format,nanotime)
S3method(index2char,nanotime)
S3method(c,nanotime)

export(as.integer64)
export(nanotime, as.integer64)
export(nanotime.matrix)
exportClasses(nanotime)
exportMethods("+")
exportMethods("-")
exportMethods("[[")
exportMethods("[")
exportMethods("[<-")
exportMethods(Arith)
exportMethods(Compare)
exportMethods(Complex)
exportMethods(Logic)
exportMethods(Math)
exportMethods(Math2)
exportMethods(Summary)
exportMethods(max)
exportMethods(min)
exportMethods(nanotime)
exportMethods(print)
exportMethods(range)
exportMethods(show)
exportMethods("names<-")
exportMethods(is.na)
