import("bit64")
importFrom("RcppCCTZ", "parseDouble", "formatDouble")
importFrom("zoo", "index2char")

export(nanotime)

S3method(nanotime, default)
S3method(nanotime, character)
S3method(nanotime, Date)
S3method(nanotime, matrix)
S3method(nanotime, numeric)
S3method(nanotime, POSIXct)
S3method(nanotime, POSIXlt)

S3method(print, nanotime)
S3method(format, nanotime)
S3method(index2char, nanotime)
S3method(as.POSIXct, nanotime)
S3method(as.POSIXlt, nanotime)
S3method(as.Date, nanotime)
